<div class="card" *ngFor="let product of products; let i = index">
  <img src="{{product.image}}" alt="product image" style="width:100%">
  <div class="overlay"></div>
  <span class="price">{{product.price}} EGP</span>
  <div class="container">
    <div>
      <a [routerLink]="" class="button add" (click)="addToCart(i)" >ADD +</a>
      <img class="add" id="{{product.id}}" src="assets/inCart.png" *ngIf="inCart(i)"  style="width:30px">
      <h4><b>{{product.title}}</b></h4>
    </div>
    <p id="description">{{product.description}}</p>
  </div>
  <div id="snackbar">Product added to cart successfully...</div>
</div> 