.card,.card .add,p{
    position:relative
}
.card{
    box-shadow:0 4px 8px 0 rgba(0,0,0,.2);
    transition:.3s;
    width:31%;
    height:600px;
    float:left;
    margin:1%
}
.card:hover{
    box-shadow:0 8px 16px 0 rgba(0,0,0,.2)
}
.container{
    padding:2px 16px;
    height:200px
}
p{
    overflow:hidden;
    text-align:justify;
    text-overflow:ellipsis
}
.card .add{
    padding:7px;
    top:7%;
    left:75%
}
.price{
    text-align:center;
    position:absolute;
    width:115px;
    height:30px;
    right:0;
    top:0;
    background:#fff;
    color:#000;
    border:1px solid #000;
    border-radius:0 0 12px 12px
}
@media only screen and (max-width:600px){
    .card{
        width:45%
    }
    .card .add{
        position:relative;
        top:15%;
        left:70%
    }
}
@media only screen and (max-width:400px){
    .card{
        width:100%
    }
}
