.header,.sidenav{
    position:fixed;
    z-index:1;
    background-color:#fff
}
.header a,.home{
    text-decoration:none
}
.header{
    float:right;
    border-style:solid;
    border-color:gray;
    border-width:1px;
    text-align:center;
    height:40px;
    width:100%;
    top:0;
    left:0;
    margin-bottom:20px
}
.header a{
    float:left
}
.cart_btn{
    text-align:right;
    width:20%;
    margin-top:7px
}
.home{
    text-align:left;
    margin:5px;
    color:gray;
    font-size:30px;
    width:75%
}
.sidenav{
    height:100%;
    width:0;
    top:42px;
    right:0;
    overflow-x:hidden;
    padding-top:60px;
    transition:.5s;
    border-left-style:solid;
    border-left-width:1px;
    border-left-color:gray
}
.sidenavOpen{
    width:45%!important
}
#main.sidenavOpen{
    width:55%!important
}
#main.sidenavOpen /deep/ router-outlet+app-market .card{
    width:45%!important
}
.sidenav .closebtn,.sidenav .title{
    width:20%;
    float:left;
    text-decoration:none;
    color:#101010;
    display:block;
    transition:.3s;
    font-size:36px;
    margin-right:50px;
    position:absolute;
    top:0
}
.sidenav .closebtn{
    left:25px
}
.sidenav .title{
    left:65px
}
#main{
    margin-top:40px;
    transition:margin-left .5s;
    padding:20px;
    z-index:2
}
.cart_btn[data-badge]:after{
    content:attr(data-badge);
    position:absolute;
    top:0;
    right:45px;
    font-size:.7em;
    background:maroon;
    color:#fff;
    width:18px;
    height:18px;
    text-align:center;
    line-height:18px;
    border-radius:50%;
    box-shadow:0 0 1px #333
}
@media screen and (max-width:600px){
    .sidenavOpen{
        width:100%!important
    }
    #main.sidenavOpen{
        width:0!important
    }
    .cart_btn[data-badge]:after{
        position:absolute;
        top:0;
        right:0
    }
}